.about {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.about h2 {
    font-weight: 500;
    margin-bottom: 30px;
}

.about h3 {
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 8px;
}

.about img {
    width: 100%;
}

.image{
    width: 45%;
}

.description {
    width: 50%;
}

.icons {
    margin-right: 8px;
    color: #bdbbbb;
}

.icons:hover {
    color: var(--color-purple);
}

.about button {
    font-size: 16PX;
    font-weight: 700;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin-top: 30px;
    transition: background-color 0.5s ease;
}

.about button svg{
    margin-left: 8px;
}

.about .buttonLight {
    background-color: var(--color-white);
    color: var(--color-purple);
    margin-left: var(--gutter);
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: background-color 0.5s ease;
}

.about .buttonLight:hover{
    color: var(--color-purple-dark);
}

@media only screen and (max-width: 600px) {
    .about {
        flex-direction: column;
    }
    .image{
        width: 100%;
    }
    .description {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .about .buttonLight {
        justify-content: center;
    }
    
}