.about {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.about h2 {
    font-weight: 500;
    margin-bottom: 30px;
}

.about h3 {
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 8px;
}

.about img {
    width: 100%;
}

.image{
    width: 40%;
}

.description {
    width: 50%;
}

.icons {
    margin-right: 8px;
    color: #bdbbbb;
}

.icons:hover {
    color: var(--color-purple);
}