.card {
    margin-top: 40px;
    background-color: var(--color-white);
    width: 33%;
    border-radius: 8px;
    padding: 8px;
    color: var(--color-gray-dark);
}

.image {
    width: 100%;
    height: 170px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 16px;
}

.text h3 {
    margin-bottom: 8px;
}

.text p {
    color: var(--color-gray-middle);
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.authorImg {
    width: 40px;
    border-radius: 100px;
    margin-top: 20px;
    margin-right: 8px;
}

.author {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}