@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  --max-width: 1200px;
  --border-radius: 8px;
  --gutter: 8px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-purple: #656AF5;
  --color-purple-dark: #242ae4;
  --color-purple-dark-100: #2d3081;
  --color-purple-dark-200: #1b1d50;
  --color-gray-dark: rgb(63, 72, 86);
  --color-gray-middle: #d7d7d7;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;

}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle at 3% 25%, #002853 0, #040c18 25%);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: var(--color-gray-middle);
  line-height: 24px;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 15px;
}

footer {
  padding: 80px 0 40px;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(236, 236, 236);
  padding-top: 40px;
}

footer .container svg {
  margin-left: 10px;
}

footer a {
  color: rgb(186, 186, 186);
  transition: color 0.5s ease;
}

footer a:hover {
  color: var(--color-purple);
}

marquee {
  background-color: #2DC9D0;
  padding: 60px 0 10px 0;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marquee {
  position: relative;
}

.selo {
  position: absolute;
  z-index: 1;
  top: -54px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  animation: spin 10s infinite linear; 
}

 @keyframes spin {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  100% {
    transform:translateX(-50%) rotate(360deg);
  }
}


/* .marquee:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100px;
  height: 100%;
  background: linear-gradient(270deg, #040c18 -16.41%, hsla(0, 0%, 100%, 0) 100);
  z-index: 2;
  left: auto;
  right: 0;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #040c18);
}

.marquee::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100px;
  height: 100%;
  background: linear-gradient(270deg, #040c18 -16.41%, hsla(0, 0%, 100%, 0) 100);
  z-index: 2;
  background: linear-gradient(-90deg, hsla(0, 0%, 100%, 0), #040c18);
} */

marquee span {
  margin-right: 24px;
}

marquee svg:last-child {
  margin-right: 24px;
}

/* code for component marquee */
.icons-marquee {
  margin-right: 4px;
}

.d-flex {
  display: flex;
}

.s-between {
  justify-content: space-between;
}

.d-flex>div {
  display: flex;
  align-items: center;
}

/* tag card */

.tag {
  font-family: 'Inter', sans-serif;
  margin-top: -17px;
  margin-bottom: 20px;
  margin-left: 5px;
  position: absolute;
  padding: 0 12px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;

}

.tag::first-letter {
  text-transform: capitalize;
}

.projeto {
  color: var(--color-purple);
  background-color: #e9ddff;
}

.artigo {
  color: #2196F3;
  background-color: #cbe8ff;
}

.btn-share {
  position: fixed;
  background-color: var(--color-purple);
  border: none;
  color: var(--color-white);
  right: 16px;
  bottom: 10px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 999px;
  transition: background-color .5s ease;
  -webkit-box-shadow: 2px 4px 12px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 2px 4px 12px 1px rgba(0, 0, 0, 0.26);
  z-index: 3;
}

.btn-share:hover {
  background-color: var(--color-purple-dark);
}

.btn-share svg {
  margin-top: 2px;
}

.gradient {
  background: -webkit-linear-gradient(#1CD1BC, #55B8FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* CSS */
.button-49,
.button-49:after {
  width: calc(100% - 8px);
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #7f7dfc 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #7f7dfc 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}