.hero {
    display: flex;
    align-items: center;
    padding: 80px 0;
    color: var(--color-gray-dark);
    flex-grow: 1;
}

.hero p {
    line-height: 24px;
    color: var(--color-gray-middle);
}

.hero h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 52px;
}

.hero h2 strong {
    color: var(--color-purple);
}

.hero img {
    width: 100%;
}

.hero button {
    margin-top: 40px;
    background-color: var(--color-purple);
    color: var(--color-white);
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
}

.hero .buttonLight {
    background-color: var(--color-white);
    color:var(--color-purple);
    margin-left: var(--gutter);
}

@media only screen and (max-width: 600px) {
    .hero {
        flex-direction: column;
        padding: 50px 8px;
    }

    .hero img {
        width: 100%;
    }

}