.iconsHeader {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.icons {
    color: #656AF5;
    background-color: #f7f7f7;
    padding: 4px;
    border-radius: 4px;
    margin-right: 8px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
    color: var(--color-gray-dark);
    flex-grow: 1;
}

.hero p {
    line-height: 24px;
    color: var(--color-gray-middle);
}

.hero h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 52px;
}

.hero h2 strong {
    color: var(--color-purple);
}

.hero img {
    width: 100%;
}

.btnsHero {
    display: flex;
}

.hero a {
    margin-top: 40px;
    background-color: var(--color-purple);
    color: var(--color-white);
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ease;
}

.hero a:hover {
    background-color: var(--color-purple-dark);
}

.hero .buttonLight {
    background-color: var(--color-white);
    color: var(--color-purple);
    margin-left: var(--gutter);
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: background-color 0.5s ease;
}

.hero .buttonLight:hover {
    color: var(--color-purple-dark);
    background-color: var(--color-white);
}

.hero .buttonLight span {
    margin-right: var(--gutter);
}

.descriptionHero {
    width: 50%;
}

.imageHero {
    width: 40%;
}

@media only screen and (max-width: 600px) {
    .hero {
        flex-direction: column;
        padding: 50px 8px;
        text-align: center;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero img {
        width: 100%;
        height: auto;
    }

    .hero a {
        padding: 12px 0;
        width: 100%;
    }

    .btnsHero {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .hero .buttonLight {
        justify-content: center;
        background-color: #f6eeff;
        margin-left: 0;
        margin-top: 20px;
    }

    .hero .buttonLight:hover {
        background-color: #d8b2fd;
    }

    .descriptionHero {
        width: 100%;
    }

    .imageHero {
        width: 100%;
    }

}